body {
  padding: 60px 15px;
}

.post {
    text-align: left;
}

.all-posts-header {
    text-align: center;
}

footer {
    text-align: center;
}

h1 {
  text-align: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
